apiVersion: apps/v1
kind: Deployment
metadata:
  name: gateway
spec:
  replicas: 1
  selector:
    matchLabels:
      app: gateway
  template:
    metadata:
      labels:
        app: gateway
    spec:
      containers:
      - name: gateway
        image: juanhiginio/gateway:1.0
        ports:
        - containerPort: 8080
        env:
        - name: SPRING_DATASOURCE_URL
          value: jdbc:mysql://gateway-mysql:3306/GenoAuth
        - name: SPRING_DATASOURCE_USERNAME
          value: root
        - name: SPRING_DATASOURCE_PASSWORD
          valueFrom:
            secretKeyRef:
              name: gateway-db-secret
              key: MYSQL_ROOT_PASSWORD
        - name: GENOMICA_SERVICE_URL
          value: http://genomica-service:8000
        - name: CLINICA_SERVICE_URL
          value: http://clinica-service:4000
---
apiVersion: v1
kind: Service
metadata:
  name: gateway-service
spec:
  selector:
    app: gateway
  ports:
  - port: 8080
    targetPort: 8080
  type: NodePort